/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2014, 3:23:39 PM
    Author     : Suchandan
*/
.margin-zero{
    margin: 0;
}
.vertical-center {
    height:100%;
    width:100%;
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: " ";
    vertical-align: middle;    /* vertical alignment of the inline element */
    height: 100%;
}
.full-height{
    min-height: 100%;
    vertical-align: middle; 
}
.height_fixed{
    height: 400px;
}
.overflow_scroll{
    overflow-x: auto;
}

//Full calender css overwrite
.fc td.fc-day {
    height: 80px !important;
    width: 100px !important;
}
.date-delete{
    display: block;
    z-index: 999;
    position: relative;
    height: 20px;
    width: 20px;
}
input,textArea{
    /*direction: rtl;*/
}
.courses-choose{
    display: none;
}

#dropzone { margin-bottom: 3rem; }

.dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }

.media-item{
    position: relative;
    cursor: pointer;
}
.delete-media,
.delete-selected-media,
.delete-choosed-media,
.delete-atached-media{
    display: none;
    position: absolute;
    top: -9px;
    right: 4px;
    cursor: pointer;
    color: #fa0d0d !important;
    z-index: 999;
}
.media-item:hover > .delete-media,
.media-item:hover > .delete-choosed-media,
.media-item:hover > .delete-atached-media
{
    display: block;
}
.media-item:hover > .thumbnail{
/*    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
    border: 2px solid #0088cc;
}
.select-media{
    position: absolute;
    left: 55px;
    top: 31px;
    color: #45ee00 !important;
    cursor: pointer;
    z-index: 999;
    display: none;
}
.delete-selected-media{
    left: 85px;
    top: 31px;
}
.media-item:hover > .select-media
.media-item:hover > .delete-choosed-media
{
    display: block;
}
.media-item input{
    display: none;
}
.media-item.selected .thumbnail{
    border: 2px solid #68ed31;
}
#media-list .media-item:hover >  .thumbnail{
      border: 1px solid #ddd;
}
.search-input{
    width: 75% !important; 
}
.height_fixed li{
    margin-bottom: 5px;
}